/*-------------- admin bar switcher --------------*/
#wp-admin-bar-wp-dark-mode {
  .ab-item {
    display: flex !important;
    align-items: center;
  }

  .wp-dark-mode-switcher {
    label {
      position: relative !important;
      width: 100px !important;
    }

    .modes {
      margin-top: -1px;
      width: 74% !important;
      position: absolute !important;

      .light {
        color: #000;
      }

      .dark {
        color: #555;
      }
    }

    label, .toggle {
      height: 26px !important;
      border-radius: 100px !important;
    }

    .toggle {
      position: absolute !important;
      width: 50% !important;
      box-shadow: 0 2px 15px rgba(0, 0, 0, .15) !important;
      transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
    }

  }

}


/**--- dark mode ---*/
html.wp-dark-mode-active #wpbody {
  :not(.wp-dark-mode-ignore):not(mark):not(code):not(pre):not(ins):not(option):not(input):not(select):not(textarea):not(button):not(a):not(video):not(canvas):not(progress):not(iframe):not(svg):not(path) {
    background-color: #10161E !important;
    color: #dfdedb !important;
    border-color: #555 !important;
  }

  a,
  a *,
  a:active,
  a:active *,
  a:visited,
  a:visited * {
    &:not(.wp-dark-mode-ignore) {
      background-color: transparent !important;
      color: #459BE6 !important;
      border-color: #555 !important;
    }
  }
}

html.wp-dark-mode-active #wpcontent {
  background: #10161E !important;

  .delete, .submitdelete {
    color: red !important;
  }

  .notice, .notice * {
    background: #252525 !important;
  }

  #screen-meta * {
    background: #32373c !important;
  }

}